html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    color: var(--black);
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Rubik", sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

img {
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

/* Utilities */
.display-none {
    display: none;
}

body {
    background-color: #E5E8EBff;
    font-family: "Poppins", sans-serif;
}

.desktop-nav {
    background-color: #14130B;
    box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    border-radius: 10px;
    padding: 10px 20px;
}

.desktop-nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
}

.desktop-nav li {
    display: inline-block;
    padding: 0 10px;
}

.desktop-nav a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #f6bc4a;
    transition: background-color 200ms ease-in-out;
    padding: 10px 20px;
}

.desktop-nav a:hover,
.desktop-nav a:focus {
    background-color: #f6bc4a;
    color: #14130B;
}

/* Hamburger Button */
.hamburger-button,
.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    padding: 20px;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 50px auto;
    background-color: #f6bc4a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

html,
body {
    background: #E5E8EBff;
    font-family: "Poppins", sans-serif;
    padding: 1em;
}

h1 {
    text-align: center;
    color: #14130B;
    @include text-shadow(1px 1px 0 rgba(white, 1));
}

form {
    max-width: 600px;
    text-align: center;
    margin: 20px auto;
    border-radius: 10px;

    input,
    textarea {
        border: 0;
        outline: 0;
        padding: 1em;
        @include border-radius(8px);
        display: block;
        width: 100%;
        margin-top: 1em;
        font-family: "Poppins", sans-serif;
        @include box-shadow(0 1px 1px rgba(black, 0.1));
        resize: none;

        &:focus {
            @include box-shadow(0 0px 2px rgba($red, 1) !important);
        }
    }

    #input-submit {
        color: #14130B;
        background: #E5E8EBff;
        cursor: pointer;
        border-radius: 10px;

        &:hover {
            @include box-shadow(0 1px 1px 1px rgba(#aaa, 0.6));
        }
    }

    textarea {
        height: 126px;
    }
}


.half {
    float: left;
    width: 48%;
    margin-bottom: 1em;
}

.right {
    width: 50%;
}

.left {
    margin-right: 2%;
}


@media (max-width: 480px) {
    .half {
        width: 100%;
        float: none;
        margin-bottom: 0;
    }
}


/* Clearfix */
.cf:before,
.cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.cf:after {
    clear: both;
}