html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    color: var(--black);
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Rubik", sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

img {
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

/* Utilities */
.display-none {
    display: none;
}

body {
    background-color: #E5E8EBff;
    font-family: "Poppins", sans-serif;
}

/* Desktop Navigation */
.desktop-nav {
    background-color: #14130B;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.desktop-nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 10px 20px;
    width: 100%;

}

.desktop-nav li {
    height: 50px;
    display: inline-block;
    padding: 0 10px;
}

.desktop-nav a {
    height: 100%;
    padding: 0 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #f6bc4a;
    transition: background-color 200ms ease-in-out;
}

.desktop-nav a:hover,
.desktop-nav a:focus {
    background-color: #f6bc4a;
    color: #14130B;
}

/* Hamburger Button */
.hamburger-button,
.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    padding: 20px;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 50px auto;
    background-color: #f6bc4a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 150px;
}

html,
body {
    background: #E5E8EBff;
    font-family: "Poppins", sans-serif;
    padding: 1em;
}

h1 {
    text-align: center;
    color: #14130B;
    text-shadow: 1px 1px 0 rgba(white, 1);
}

form {
    max-width: 600px;
    text-align: center;
    margin: 20px auto;
    border-radius: 10px;
}

form input,
form textarea {
    border: 0;
    outline: 0;
    padding: 1em;
    border-radius: 8px;
    display: block;
    width: 100%;
    margin-top: 1em;
    font-family: "Poppins", sans-serif;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    resize: none;
}

form input:focus,
form textarea:focus {
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
}

.input-submit {
    color: #14130B;
    background: #E5E8EBff;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 200ms ease-in-out;
    padding: 1em;
    border: none;
}

.input-submit:hover,
.input-submit:focus {
    background-color: #14130B;
    color: #f6bc4a;
}

textarea {
    height: 126px;
}

.cf {
    display: flex;
    flex-wrap: wrap;
}

.half {
    flex: 1 1 calc(100% - -10em);
    /* Adjusts width and spacing */
    box-sizing: border-box;
}

@media (max-width: 480px) {
    .half {
        flex: 1 1 100%;
        margin-bottom: 0;
    }
}

/* Mobile view adjustments */
@media (max-width: 768px) {

    .hamburger-button,
    .menu-toggle {
        display: block;
    }

    .desktop-nav ul {
        display: none;
        flex-direction: column;
        background-color: #1F221B;
        color: #FABE4B;
        padding: 10px 20px;
        border-radius: 10px;
        position: absolute;
        top: 60px;
        right: 0;
    }

    .menu-toggle:checked+.hamburger-button+.desktop-nav ul {
        display: flex;
        /* Show menu when checkbox is checked */
    }

    .menu-toggle {
        visibility: hidden;
    }

    .desktop-nav li {
        padding: 10px 0;
    }

    .desktop-nav a {
        padding: 10px;
        font-size: 18px;
    }

    /* Clearfix */
    .cf:before,
    .cf:after {
        content: " ";
        display: table;
    }

    .cf:after {
        clear: both;
    }
}