html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    color: var(--black);
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Rubik", sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

input,
button,
textarea,
select {
    font: inherit;
}

/* Utilities */

.display-none {
    display: none;
}


html {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #E5E8EBff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
}

/* .container {
    width: 80%;
    max-width: 1200px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

/* ol,
ul {
    list-style: none;
    size: 25px;
} */

/* Desktop Navigation */
.desktop-nav {
    background-color: #14130B;
    box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%; /*to adjust the kalaparon of the top bo*/
    z-index: 1000;
    border-radius: 10px;
    
  

}

.desktop-nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 10px 20px;
}

.desktop-nav li {
    height: 50px;
    flex-direction: row;
    display: inline-block;
    padding: 0 10px;
}

.desktop-nav a {
    height: 100%;
    padding: 0 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #f6bc4a;
    transition: background-color 200ms ease-in-out;
}

.desktop-nav a:hover,
.desktop-nav a:focus {
    background-color: #f6bc4a;
    color: #14130B;
}

/* .profile-section {
    display: flex;
    align-items: center;
    margin-top: 60px; /* Space below the navbar */
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 960px;
    width: 100%;
}

/* .profile-image {
    width: 200px;
    height: 200px;
    border-radius: 0%; /* Creates a circular image */
    margin-right: 30px;
}

.profile-image img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-info {
    flex: 3;
}

.profile-info h1 {
    font-size: 24px;
    color: #14130B;
    margin-bottom: 10px;
}

.profile-info p {
    font-size: 16px;
    color: #555555;
    line-height: 1.5;
} */ */

/* Hamburger Button */
.hamburger-button,
.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    padding: 20px;
}

.container {
    font-size: 35px;
    color: #f8f8f8;
    top: 10px; /* Align it at the top */
    right: 10px; /* Align it to the right */
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    font-size: 25px;
    margin: 10px 20px 20px 20px;
    z-index: 1;
}
    /* .container {
        /* position: absolute; /* Position it absolutely */
        top: 10px; /* Align it at the top */
        right: 10px; /* Align it to the right */
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-end;
        font-size: 25px;
        margin: 30px 20px 20px 20px;
        font-size: 35px;
     color: #f8f8f8; */
        
    


/* Desktop view adjustments */
@media (min-width: 769px) {
    .container {
        position: absolute; /* Position it at the bottom */
        bottom: 0;
        left: 0;
        right: 0;
        padding: 80px 0 0 80px;
        margin-top: -175px;
        
    }
}


.projects {
    background-color: #f6bc4a;
    border-radius: 10px;
    padding: 15px 25px;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
}

.project-box {
    border-bottom: 1px solid #14130B;
}

.project-box:last-child {
    border-bottom: none;
}

.project-img {
    margin-bottom: 25px;
    max-width: 100%;
}

.project-header {
    color: #14130B;
    font-weight: 600;
    letter-spacing: 1px;
    /* font-size: larger; */
}

.marketing-projects {
    margin: 50px 0 25px;
    color: #14130B;
}

.marketing-projects-item {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 1.5;
    padding: 15px 0;
    border-top: 1px solid #1F221B;
}

.marketing-projects-item:last-child {
    border-bottom: 1px solid #1F221B;
}

.call-to-action {
    background-color: #14130B;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    color: #DBE026ff;
    display: inline-block;
    padding: 15px 35px;
    text-decoration: none;
    margin: 25px 0;
    transition: background-color 200ms ease-in-out;
}

.call-to-action:hover,
.call-to-action:focus {
    background-color: #CCCCCC;
    color: #14130B;
}

@media (min-width: 900px) {
    .projects {
        flex-direction: row;
    }

    .project-box {
        border-bottom: none;
        border-right: 1px solid #14130B;
        padding: 25px 50px;
    }

    .project-box:last-child {
        border-right: none;
        /* This removes the right border for the last child */
    }
}